// settings
@import '_00-settings/typography';
@import '_00-settings/color';
@import '_00-settings/variables';

// tools
@import '_01-tools/mixins';

// elements
@import '_03-elements/elements';


// objects
@import '_04-objects/grid';

// components
@import '_05-components/_header/header';
@import '_05-components/_ctas/button';


@import '_05-components/_sections/home-page-section';
@import '_05-components/_sections/resume-section';
@import '_05-components/_footer/footer';