header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: banner;
  grid-column: 2 / 12;
  
  & nav {
    width: 100%;
    & ul {
      display: flex;
  
      & li:first-of-type {
        flex-grow: 2;
  
        & a {
          text-align: left;
          font-family: "Jost";
          text-transform: uppercase;
          font-weight: 700;
        }
      }
      
      & li a {
        position: relative;
        color: $text;
        padding: 16px;
        text-align: right;
        cursor: pointer;
      }
    }
  }
  
  
}