.resume main {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(12, 1fr);

  & aside {
    grid-column: 3 / 5;
    border-right: 1px solid lighten($text, 50%);
    padding-bottom: 2rem;

    & h2 {
      margin-bottom: 0;
    }

    & p {
      color: lighten($text, 30%);
    }
  }

  & section {
    grid-column: 5 / 11;
    padding: 0 16px;

    &.c-card {
      grid-column: 3 / 11;
    }


    & h2 {
      margin-bottom: 0;
    }

    & .title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & span {
        display: block;
        color: $text;
        font-weight: bold;
      }
    }

    & h4 {
      margin: 0;
      font-weight: 400;
    }

    & p {
      color: lighten($text, 30%);
      line-height: 1.7;
    }
  }
}