button, .c-btn {
  display: block;
  text-align: center;
  width: 100%;
  height: 44px;
  font-size: 1rem;
  line-height: 44px;
  border: none;
  border-radius: 4px;
  color: $bg;
  text-transform: capitalize;
  cursor: pointer;
}

.c-btn {
  &--primary {
    background: $b-300;
  }
}