.homepage .grid {
  grid-template-rows: 86px calc(100vh - 118px) 1fr $footer-small;
  grid-template-areas: 
    "banner banner banner banner banner banner banner banner banner banner banner banner"
    "splash splash splash splash splash splash splash splash splash splash splash splash"
    "content content content content content content content content content content content content"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.resume .grid {
  grid-template-rows: 86px 1fr $footer-small;
  grid-template-areas: 
    "banner banner banner banner banner banner banner banner banner banner banner banner"
    "content content content content content content content content content content content content"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(12, 1fr);
}

main {
  grid-area: content;
  background: $bg;
  color: $text;
  position:relative;

  & .c-callout, & .c-about, & .c-card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  
  & .c-callout {
    background: $b-300;
    grid-template-rows: 1fr 84px;
    
    &__content {
      padding: 32px 0;
      grid-column: 3 / 11;
      
      & h2, & p {
        color: $bg;
      }
    
      & p {
        font-size: 16px;
        line-height: 2;
      }
    }
    
    &__card {
      grid-column: 3 / 11;
      
      &.c-card {
        position:relative;
        & .c-card__content {
          position: absolute;
          grid-column: 1 / 13;
          background: $bg;
          border-radius: 4px;
          -webkit-box-shadow: 0px 4px 6px 0px rgba(54,54,54,0.16); 
          box-shadow: 0px 4px 6px 0px rgba(54,54,54,0.16);
          width: 100%;
          max-width: 336px;
          height: 240px;

          & > .c-card__img {
            position: relative;
            display: block;
            width: 100%;
            height: 164px;
            border-radius: 4px;
            overflow: hidden;

            & > img {
              position: absolute;
              width: 100%;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
          
          & > .c-card__btn {
            width: 100%;
            margin-top: 2rem;
          }
        }
      }
    }
      
  }
  
  & .c-about {  
    padding-bottom: 2rem;
    
    & .c-about__content {
      margin-top: 240px;
      grid-column: 3 / 11;
      
      @include for-size(mobile) {
        grid-column: 3 / 7;
      }
      
      & > p {
        line-height: 2;
      }      
    }
    
    & .c-about__img {
      grid-column: 3 / 11;
      background: $o-300;
      display: block;
      width: 100%;
      max-width: 440px; 
      max-height: 578px;

      @include for-size(mobile) {
        margin-top: 280px;
        grid-column: 8 / 11;
      }
    }
  }

  & .c-card {

    &__content {
      grid-column: 3 / 11;
      padding: 1.5rem;
      background: $bg;
      border-radius: 4px;
      -webkit-box-shadow: 0px 4px 6px 0px rgba(54,54,54,0.16); 
      box-shadow: 0px 4px 6px 0px rgba(54,54,54,0.16);
      position: relative;
      z-index: 10;
    }

    &__btn {
      width: 100%;

      @include for-size(mobile) {
        width: 300px;
      }
    }
  }
}