/* * {
  outline: 1px solid red;
} */

body {
  box-sizing: border-box;
  --bg-1: #fffff0;
  --bg-2: #faf0e6;
  --bg-3: hsl(206, 20%, 80%);
  --fg-1: #171513;
  --fg-2: hsl(0, 0%, 20%);
  --fg-2: hsl(0, 0%, 30%);
  --link: hsl(208, 77%, 47%);
  --link-hover: hsl(208, 77%, 55%);
  --link-active: #171513;
  --border-radius: 4px;
  --font: "Helvetica Neue", sans-serif;
  --font-mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  background: var(--bg-1);
  color: var(--fg-1);
  font-family: var(--font);
  line-height: 1.5;
  margin: 0;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

a:active,
a:visited {
  color: var(--link-active);
}

@font-face {
  font-family: "CustomFont";
  src:
    /*  url("/fonts/custom-font.woff2") format("woff2"),
      url("/fonts/custom-font.woff") format("woff"),*/ url("/fonts/NationalPark-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  letter-spacing: 2px;
}

.image-compare,
.image-wrapper {
  border: 1px solid #171513;
  padding: 0 2rem;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  background-color: #fcf5ee;
}

.image-wrapper {
  padding: 2rem;
}

.image-compare {
  height: 800px;
  width: auto;
}

.image-compare img {
  object-fit: scale-down !important;
}

.image-compare .before-label,
.image-compare .after-label {
  font-size: 2rem;
  padding-top: 1.5rem;
}

.image-compare .arrow-left {
  left: 6px !important;
  top: 7px !important;
  border-right-color: #171513 !important;
}
.image-compare .arrow-right {
  left: 16px !important;
  bottom: 12px !important;
  border-left-color: #edb40f !important;
}

.image-compare .handle,
.image-compare .handle::after,
.image-compare .handle::before {
  border-color: #171513 !important;
}
